<body class="about">


<div class="small-space"></div>
<div class="row">
  <div class="small-6 columns">
    <h2 class="white-text">About SplitMate</h2>
  </div>
</div>

<div class="small-space"></div>

<div class="row">
  <div class="small-10 small-centered columns">
    <div class="grey-wrap">
      <p>Welcome to SplitMate, a revolution in communal living. Long gone are rommate arguments when your roommate doesn't take out the trash or clean the dishes. Now that you have discovered SplitMate, your life at home will be a model of tranquility. Create an account and then invite your roommates to begin life in the 21st century.</p>
      <p>Simply log common chores from your apartment, drag a chore to your name in the leaderboard to assign yourself the chore and when you complete it mark it as done in your profile page. You get points for completing chores and can use points to assign a chore to one of your roommates. Is the toilet getting gross, give it to your buddy down the hall who never clean it, but always uses it. Simply drag a chore to one of your roommates on the leaderboard to assign a chore to one of them. But be careful, it costs 10 times as many points to assign a chore than the point value of the chore itself.</p>
      <p>On your profile page you can view all of the chores you've completed in the past and any before/after pictures or comments you made when you marked the chore completed. We also have a vacation mode so you don't get penalized when you go out of town to visit your parent's for the holiday.</p>
      <p>If you have any questions, comments or suggestions <a href="mailto:splitmate@gmail.com">drop us a line</a>.</p>
      <p>Good luck and enjoy SplitMate!</p>
    </div>
  </div>
  <div class="small-space"></div>
</div>
</body>
