<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>You Have Been Signed Up For SplitMate By Your Roommate</title>
</head>
<body>
  <h1>Welcome to SplitMate!</h1>
  <p>
    We would like to welcome you to SplitMate! Your roommate has signed up your whole apartment. Welcome to a better living experience, starting today.
  </p>
  <p>
    Your username is <%= @user.email %> and your default password is 'password'. Visit <a href="http://localhost:3000/login">localhost:3000/login</a> to login and change your default password.
  </p>
</body>
</html>
