<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome to SplitMate!</title>
</head>
<body>
  <h1>Welcome to SplitMate!</h1>
  <p>
    Thank you for signing up for SplitMate. Welcome to a better living experience, starting today.
  </p>
  <p>
    Your username is <%= @user.email %>. Visit <a href="http://localhost:3000/login">localhost:3000/login</a> to login.
  </p>
</body>
</html>
