<html>
<head>
	<title>Last Chance! Chore Deadline is Tomorrow!</title>
</head>
<body>
	<p>Hello, <%= @user.first_name %>!</p>

	<p>
		We would just like to remind you that your assigned chore, <%= @chore.name %>, is due on <%= @chore.due_date %>! Remember, incomplete chores will deduct not only points, but also money from your account.  So do your part or suffer the consquences!
	</p>

	 <p>
    	Thank you for using <a href="http://splitmate.herokuapp.com//login">SplitMate</a>. Creating a better living experience, starting today.
  	</p>

  	<p>-SplitMate Team</p>

</body>
</html>
