<html>
<head>
	<title>Chore Deadline is Approaching!</title>
</head>
<body>
	<p>Hello, <%= @user.first_name %>!</p>

	<p>
		We would just like to remind you that your assigned chore, <%= @chore.name %>, is due on <%= @chore.due_date %>!
	</p>

	 <p>
    	Thank you for using <a href="http://splitmate.herokuapp.com/login">SplitMate</a>. Creating a better living experience, starting today.
  	</p>

  	<p>-SplitMate Team</p>

</body>
</html>
