/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */

 /**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */


 .accordion img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
 }

.content.active ul {
list-style-type: none;
padding: 0px;
margin: 0px;
text-align: right;
}

div.avatar-wrap {
  display: block;
  width: 150px;
  height: 150px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  margin: 30px auto 0 auto;
  border: 1px solid black;
}

div.avatar-wrap-thumb {
  display: block;
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  float: left;
}

div.avatar-wrap-leader {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  float: left;
}

div.avatar-wrap-left {
  display: block;
  width: 150px;
  height: 150px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  margin: 30px auto 0 auto;
  float: left;
  border: 1px solid black;
}

div.avatar-wrap-right {
  display: block;
  width: 150px;
  height: 150px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  margin: 30px auto 0 auto;
  float: right;
  border: 1px solid black;
}

div.leaderboard-row{
  text-align: center;
  vertical-align: middle;
  background-color: darkgrey;
}

div.apt-header {
  text-align: center;
  margin-bottom: 40px;
}

img.avatar {
  width: 150px;
}

div.red {
  background: red;
}

table {
  margin: 0 auto;
}
.small-space {
  margin-bottom: 20px;
}

.small-space {
  margin-bottom: 40px;
}

.centered-text {
  text-align: center;
}
h1.centered-text {
  text-align: center;
}
