/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */
div.avatar-wrap {
  display: block;
  width: 150px;
  height: 150px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  margin: 30px auto 0 auto;
}

div.avatar-wrap-thumb {
  display: block;
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

div.apt-header {
  text-align: center;
  margin-bottom: 40px;
}

img.avatar {
  width: 150px;
}

h3.apt-header {
  text-align: center;
}
div.red {
  background: red;
}

table {
  margin: 0 auto;
}
.small-space {
  margin-bottom: 20px;
}
