

	<% @leaderboard.each do |roommate| %>
	<div class="leader-container">
	  <div class="avatar-wrap-leaderboard"><%= image_tag roommate.avatar.url(:thumb) %></div>
	  <div class="leader-points-balance"><%= roommate.points_balance %></div>
  </div>
	<% end %>


