<div class="row">
  <div class="small-6 centered columns">
    <div class="avatar-wrap">
        <% if @apartment.avatar_file_name == nil %>
          <%= image_tag @apartment.default_avatar, class: 'avatar' %>
        <% else %>
          <%= image_tag @apartment.avatar.url(:medium), class: 'avatar' %>
        <% end %>
      </div>
  </div>
</div>

<div class="row">
  <div class="small-8 columns">
    <h1>Edit <%= @apartment.name %></h1>
  </div>
</div>

<%= render "form" %>

<br />
