<%= render @apartment %>

<%= link_to 'Add Roomates', "/apartments/#{params[:id]}/addroommates" %>

<%= link_to 'Create a chore', new_apartment_chore_path(@apartment) %>


<h1>All Chores</h1>


<%= render :partial => '/chores/chores_index' %>
